@charset "utf-8";
/* CSS Document */
.footer-logged-out {
	padding: 15px 0;
	height: 10%;
}

.footer {
	margin: 0 auto;
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #e5e5e5;
	text-align: center;

}

div {
	display: block;
}

.fcontainer{
	margin: 0 auto;
	height: 10%;
	clear:both;
	color:#999999;
	text-align:center;
	width:100%;
	padding-bottom: 15px;
	font-size: 85%;
        font: 11px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}